---
import Layout from "../../layouts/Layout.astro";

const posts = await Astro.glob('./*.mdx');
---

<Layout title="Blog">
	<h1 class="mb-16">Blog</h1>

	<div class="max-w-md">
	{posts.map((post) => (
		<article class="group">
			<a href={post.url}>
				<h3 class="text-md font-black mb-4 group-hover:text-primary transition-colors">{post.frontmatter.title}</h3>

				<p class="text-sm mt-2 font-serif">{post.frontmatter.description}</p>
			</a>
		</article>
	))}
		</div>
</Layout>
