---
import Layout from "../../layouts/Layout.astro";

const posts = await Astro.glob('./*.mdx');
---

<Layout title="Blog">
	<h1 class="mb-4">Blog</h1>

	<h2 class="text-primary mb-8 mt-4">Published Posts</h2>

	{posts.map((post) => (
		<article class="max-w-md group">
			<a href={post.url}>
				<h3 class="text-xl font-black mb-4 group-hover:text-primary">{post.frontmatter.title}</h3>

				<p class="text-sm mt-2">{post.frontmatter.description}</p>

				<div class="font-bold">Read more</div>
			</a>
		</article>
	))}
</Layout>
