---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<h1 class="mb-2 text-3xl md:text-5xl">Hi, my name is Tim.</h1>
	<h2 class="mt-2 text-xl md:text-2xl">I am a Frontend Software Engineer based in Berlin, Germany.</h2>
</Layout>
