---
import Layout from '../layouts/Layout.astro';
import { FaDev, FaGithub } from "react-icons/fa";
---

<Layout title="Home">
	<h1 class="mb-4 text-3xl md:text-5xl">Hi, my name is Tim</h1>
	<h2 class="text-xl md:text-2xl">Software Engineer based in Berlin, Germany</h2>

	<div class="mt-8 flex gap-4">
	  <a href="https://dev.to/timrichter" target="_blank" rel="noopener noreferrer" aria-label="My dev.to profile"><FaDev size={32} /></a>
	  <a href="https://github.com/tim-richter" target="_blank" rel="noopener noreferrer" aria-label="My github profile"><FaGithub size={32} /></a>
	</div>
	<a href="mailto:tim@timrichter.dev" target="_blank" rel="noopener noreferrer" class="font-serif text-gray-600 mt-2">tim@timrichter.dev</a>
</Layout>
